[user]
    name = Ryan Janzen
    email = rpwjanzen+github@gmail.com
[apply]
    whitespace = fix
[push]
    default = simple
[alias]
    nl = log --pretty=format:'%h : %an(%ad --- %cd) - %s' --graph --date=short
    co = checkout
    st = status
    sty = status
    br = branch
    search = "rev-list -n 1 HEAD -- "
    fixup = commit --amend --no-edit
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !git lg1
    brach = branch
    ocmmit = commit
    commti = commit
    comiit = commit
    commi = commit
    commmit = commit
    comit = commit
    cvommit = commit
    commie = commit
    conifig = config
    dfii = diff
    idff = diff
    fethc = fetch
    fetgch = fetch
    ffetch = fetch
    lgo = log
    lof = log
    meregtool = mergetool
    mregetool = mergetool
    mregertool = mergetool
    puhs = push
    psuh = push
    pushj = push
    puush = push
    rebaes = rebase
    rebave = rebase
    revase = rebase
    reabse = rebase
    rebae = rebase
    shash = stash
    sash = stash
    stasdh = stash
    pusn = push
    pushn = push
    ad = add
    renase = rebase
    reste = reset
    fetchh = fetch
    fa = fetch --all
    pu = pull --ff-only
    oc = checkout
    commt = commit
    lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) %C(white)%s%C(reset) %C(yellow)- %an%C(reset)'
    logcr = log --graph --abbrev-commit --decorate --format=format:'HERO-%C(white)%s%C(reset) (%h)'
    lgcr = log --graph --abbrev-commit --decorate --format=format:'HERO-%C(white)%s%C(reset) (%h)'
    ommit = commit
    mf = merge --no-ff
    bb = log -p -M --follow --stat --
[rebase]
    autosquash = true
    autostash = true
[mergetool]
    keepBackup = false
[fetch]
    prune = true
[core]
    editor = vim
    excludesfile = ~/.gitignore
[merge]
    keepBackup = false
    tool = mymeld
    ff = no
    conflictstyle = diff3
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "p4merge"]
    cmd = /home/vmuser/p4v-2015.2.1315639/bin/p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[mergetool "mymeld"]
    cmd = meld $LOCAL $BASE $REMOTE -o $MERGED --diff $BASE $LOCAL --diff $BASE $REMOTE --auto-merge
[diff]
    tool = p4merge
    #indentHeuristic = true
[difftool]
    prompt = false
    keepBackup = false
[difftool "p4merge"]
    cmd = /home/vmuser/p4v-2015.2.1315639/bin/p4merge "$LOCAL" "$REMOTE"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[commit]
    verbose = true
[gc]
    autoDetach = false
[pull]
    ff = yes
