[push]
	default = simple
[user]
	name = Ryan Janzen
	email = rpwjanzen@gmail.com
[alias]
	co = checkout
	st = status
	br = branch
	shash = stash
	sash = stash
	fixup = commit --amend --no-edit
	fethc = fetch
	lgo = log
	ocmmit = commit
	meregtool = mergetool
	brach = branch
	stasdh = stash
	sty = status
	commti = commit
	comiit = commit
	commi = commit
	commmit = commit
	search = "rev-list -n 1 HEAD -- "
	lof = log
	puhs = push
	rebaes = rebase
	rebave = rebase
	revase = rebase
	psuh = push
	mregertool = mergetool
	fetgch = fetch
	commie = commit
	ffetch = fetch
	mregetool = mergetool
	rebae = rebase
	conifig = config
	reabse = rebase
	dfii = diff
	comit = commit
	cvommit = commit
[rebase]
	autosquash = true
[merge]
	tool = p4merge
[mergetool]
	keepBackup = false
[mailmap]
	file = c:/Users/ryanj/.mailmap
[diff]
	guitool = p4merge
[core]
	editor = \"C:/Program Files (x86)/GitExtensions/GitExtensions.exe\" fileeditor
	autocrlf = true
[mergetool "p4merge"]
	path = C:/Users/ryanj/Documents/Applications/Perforce/p4merge.exe
	cmd = \"C:/Users/ryanj/Documents/Applications/Perforce/p4merge.exe\" \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[difftool "p4merge"]
	path = C:/Users/ryanj/Documents/Applications/Perforce/p4merge.exe
	cmd = \"C:/Users/ryanj/Documents/Applications/Perforce/p4merge.exe\" \"$LOCAL\" \"$REMOTE\"
